.content-wrapper > .ant-row > .ant-col {
	padding: 10px;
}

/** TESTING **/
.team {
	text-align: right;
	line-height: 40px;
}
.c1,
.c2,
.c3,
.c4 {
	float: left;
	width: 100px;
}
.c1 {
    width: 40px;
}
.c1 .team {
	width: 40px;
	height: 40px;
}
.c2 .block,
.c3 .block {
	margin-top: 40px;
	height: 40px;
	width: 100px;
	border-top: solid 2px #000;
	border-right: solid 2px #000;
	border-bottom: solid 2px #000;
	text-align: right;
	line-height: 40px;
}
.c2 .block.first {
	margin-top: 20px;
}
.c3 .block {
	height: 80px;
	line-height: 80px;
}

.c4 .block {
	margin-top: 60px;
	text-align: right;
	border-bottom: solid 2px #000;
}
